@font-face {
  font-family: mySecondFont;
  src: url('ClearSans-Bold.ttf');
  font-weight: 700;
}
html
{
    font-size: 16px;
}
body
{
    font-family: mySecondFont;
    padding: 0;
    margin: 0;
}
nav
{
    font-family: mySecondFont;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    height: 3rem;
    background-color: white;
}
#sidebar_button img
{
    height: 100%;
    width: 100%;
}
#sidebar_button
{
    outline: none;
    box-sizing: border-box;
    background: white;
    float: right;
    height: 3rem;
    border: none;
    width: 3.5rem;
}
#sidebar_open button
{
    box-sizing: border-box;
    height: 2.5rem;  
    background: white;
    padding-right: 2px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    float: right;
    border: none;
}
#sidebar_open
{
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    overflow-x: scroll;
    white-space: nowrap;
    background: white;
    border: solid 2px white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: none;
}
::-webkit-scrollbar
{
    display: none;
}
#sidebar_open a
{
    text-decoration: none;
}
.sidebar li
{
    display: inline-block;
}
#nav_content
{
    color: black;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
#nav_content ul
{
    float: right;
    margin:0;
    box-sizing: border-box;
    height: 3rem;
}
.logo
{
    box-sizing: border-box;
    display: inline;
    line-height: 3rem;
    float: left; 
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    position: absolute;
}
#nav_content li
{
    display: inline-block;
    margin: auto 0;
}
.desktop button
{
    margin: .5rem .5rem; 
    padding-left: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem .5rem;
    border: 2px solid white;
    border-radius: 25px;
    background-color: inherit;
    cursor: pointer;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.desktop li button:hover
{
    border: 2px solid black;
    color:white;
    background-position: left bottom;
}
@media only screen and (max-width: 600px)
{
    html
    {
        font-size: 75%;
    }
    #nav_content
    {
        width: 100%;
    }
    .desktop
    {
        display: none;
    }
    .sidebar
    {
        display: block;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px)
{
    .desktop
    {
        display: block;
    }
    html
    {
        font-size: 75%;
    }
    .sidebar
    {
        display: none;
    }
}
@media only screen and (min-width: 1000px)
{
    .desktop
    {
        display: block;
    }
   .sidebar
    {
        display: none;
    } 
}