@font-face {
  font-family: mySecondFont;
  src: url('ClearSans-Bold.ttf');
  font-weight: 700;
}
#rest_container
{
    margin-top: 3.5rem;
    position: relative;
}
body
{
    font: mySecondFont;
}
html
{
    font-size: 100%;
}
#categories
{
    height: 100%;
}
#overview
{
    height: 50%;
    background: black;
}
#overview img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: 0 40%;
    opacity: .3;
}
#overview h3
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight:500;
}
#categories ul
{
    top: 32.8%;
    right:0;
    left:0;
    bottom: 0;
    width: 85%;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0;
    position: absolute;
}
#categories li
{
    display: inline-block;
    box-sizing: content-box;
    width: 10rem;
    height: 15rem;
    margin: 0 4rem;
    background: black;
}
#categories li img
{
    height: 50%;
    width: 100%;
}
#categories li div
{
    height: 50%;
    background: #f5f5f5;
}
.category_title
{
    width: 100%;
    padding-top: 2rem;
    text-align: center;
}
#categories li button
{
    width: 5rem;
    height: 1rem;
    padding: 0;
    border-radius: 20px;
    border: none;
    outline: none;
}
#leftscroll, #rightscroll
{
    width: 3rem;
    background: transparent;
    background: black;
    border-radius: 50%;
    padding: 0;
    color: white;
}
#leftscroll
{
    position: absolute;
    top: 48%;
}
#rightscroll
{
    position: absolute;
    top: 48%;
    right: 0;
}
@media only screen and (max-width: 600px)
{
    html
    {
        font-size: 75%;
    }
    #categories ul
    {
        width: 90%;
        top: 36.6%;
    }
    #categories li
    {
        margin: 0 2rem;
    }
    #rightscroll, #leftscroll
    {
        display: none;
    }
    
}